@media screen and (max-width: 768px) {
    header{
        display: none !important;
    }
    .verticalNavBar {
        display: none !important;
    }

    .btn-search { display: inline !important}

    .textOverlay{
        display: none !important;
    }

    .main-container{
        display: none !important;
    }

    .longArticle > p {
        text-align: center !important;
    }

    .longArticle > img {
        margin: 2em !important;
        border-radius: 15px !important;
        float: top !important;
        width: 85% !important;
    }

    footer {
        font-size: 0.3em !important;

    }

    footer > div > h3 {
        font-size: 2em !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px){
    header {
        display: none !important;
    }

    .verticalNavBar {
        border: none !important;
    }

    .aside-search{
        display: none !important;
    }

    .searchForm {
        font-size: 0.5em !important;
        padding-left: 0.5% !important;
    }

    .searchForm h3 {
        font-size: 0.8em !important;
    }

    .searchForm label {
        font-size: 0.8em !important;
        padding-right: 0.5% !important;
    }

    .main-container {
        display: grid !important;
        grid-template-columns: 0.5fr 1.5fr !important;
        height: 100vh !important;
    }

    .half-left {
        width: 100% !important;
        height: 100% !important;
        margin: 2% 2% !important;
        padding: 2% !important;
    }

    .half-right {
        width: 100% !important;
        height: 100% !important;
        margin: 2% 2% !important;
        padding: 2% !important;
    }

    .img-fluid {
        max-width: 100% !important;
        height: auto !important;
    }

    .textOverlay {
        position: absolute !important;
        color: white !important;
        margin-top: 1% !important;
        background-color: rgba(0, 0, 0, 0.6) !important;
        top: 16vw !important;
        padding-top: 0.5em !important;
        padding-left: 1em !important;
        width: 60% !important;
        border-radius: 0px 20px 20px 0px !important;
    }

    .textOverlay > h2{
        font-size: x-small !important;
    }
    .textOverlay > p {
        font-size: xx-small !important;
        padding-right: 1% !important;
    }
    .carousel-control-prev {
        max-width: 70px !important;
    }

    .carousel-control-next {
        max-width: 70px !important;
    }


    .container {
        margin: 0 !important;
        padding: 1% !important;
        max-width: 100% !important;
    }

    .articleResume {
        margin: 0 !important;
        max-width: 15em !important;
        max-height: 20em !important;
    }

    .articleResume > img{
        max-width: 15em !important;
        border: 0 !important;
    }

    .articleResume:hover{
        max-height: 100% !important;
    }

    .articleResume > h1{
        font-size: 0.8em !important;
    }

    .articleResume > h2{
        font-size: 0.8em !important;
    }

    .articleResume > p{
        font-size: 0.5em !important;
    }

    footer {
        font-size: 0.5em !important;

    }

    footer > div > h3 {
        font-size: 2em !important;
    }

    .imgLongArticle {
        width: 50% !important;
        display: block !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

}

@media screen and (min-width: 993px) {
    .carousel-control-prev {
        max-width: 70px !important;
    }

    .carousel-control-next {
        max-width: 70px !important;
    }

    .container{
        margin: 2% !important;
    }

    .menu-filter-medium {
        display: none !important;
    }

    .container-edit-profile {
        height: 65vh !important;
    }

    #btn-cancel-profile {
        display: none !important;
    }
}