/*
    Blue: #0077C8
    Yellow: #F1C400
    Light blue: #22AAFB
    Light yellow: #FFD511
*/

body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: #0077C8;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #006bb4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.searchForm {
    border: solid 0.1em;
    overflow: hidden;
    margin: 1em;
    padding: 1em;
    display: grid;
    gap: 1vw;
    justify-content: space-around;
}

.filterMenu {
    font-size: 1.5em;
    width: 15vw;
}

.filterMenu ul {
    list-style: none;
    margin: 1em;
    padding: 0;
}

.dropdown-menu {
    margin: 1vw;
    display: grid;
}

.dropdown-menu label {
    grid-column: 1;
    grid-row: 1;
}

.dropdown-menu select {
    font-size: 0.8em;
    grid-column: 2;
    grid-row: 1;
}

.filterMenu input[type=checkbox] {
    transform: scale(1.5);
    bottom: .08em;
    position: relative;
    vertical-align: middle;
}

.filterMenu h3 {
    text-align: center;
    background-color: #22AAFB;
    width: 100%;
}

.categorySelector {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.islandSelector {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.costSelector {
    grid-column: 3;
    grid-row: 1;
}

.scoreSelector {
    grid-column: 4;
    grid-row: 1;
}

.submitBtn {
    grid-column: 3 / span 2;
    grid-row: 2;
    margin: 4vh 8vw;
}












