@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    src: local('Montserrat'), url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    font-family: Montserrat, sans-serif;
    position: relative;
    min-height: 100vh;
    padding-bottom: 3em;
    margin: 0;
}

header {
    width: 100%;
    height: 20%;
    display: block;
    position: relative;
}

main {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

aside {
    border: 0.1vw solid black;
    float: left;
    display: block;
    width: 10vw;
    height: 100%;
    padding: 1.5em;
    margin: 1em;
    text-decoration: none;
    text-align: center;
}

aside ul {
    list-style: none;
    padding: 0;
}

article {
    text-align: center;
    width: 80vw;
    padding: 2em;
    margin: 1em;
    display: block;
    float: right;
}

section {
    text-align: center;
    display: inline;
    float: right;
    width: 19%;
    margin-right: 2em;
    padding: 1em;
    position: center;
    border: 5px solid blue;
}

footer {
    width: 100%;
    bottom: 0;
    position: absolute;
    display: block;
    text-align: center;
    background: lightgray;
}

.imgArticle {
    max-width: 30%;
    max-height: 5%;
    border-radius: 10px;
}

.imgSection {
    border-radius: 15px;
    max-width: 50%;

}

#imgHeader {
    width: 100%;
}

/*
    Blue: #0077C8
    Yellow: #F1C400
    Light blue: #22AAFB
    Light yellow: #FFD511
*/

.navbar {
    overflow: hidden;
    background-color: #0077C8;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #006bb4;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.searchForm {
    border: solid 0.1em;
    float: left;
    padding: 1em;
    margin: 1em;
    width: 80vw;

    overflow: hidden;
    display: grid;
    gap: 1vw;
    justify-content: space-around;
}

.filterMenu {
    font-size: 1.5em;
    width: 15vw;
}

.filterMenu ul {
    list-style: none;
    margin: 1em;
    padding: 0;
}

.dropdown-menu {
    margin: 1vw;
    display: grid;
}

.dropdown-menu label {
    grid-column: 1;
    grid-row: 1;
}

.dropdown-menu select {
    font-size: 0.8em;
    grid-column: 2;
    grid-row: 1;
}

.filterMenu input[type=checkbox] {
    transform: scale(1.5);
    bottom: .08em;
    position: relative;
    vertical-align: middle;
}

.filterMenu h3 {
    text-align: center;
    background-color: #22AAFB;
    width: 100%;
}

.categorySelector {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.islandSelector {
    grid-column: 2;
    grid-row: 1 / span 2;
}

.costSelector {
    grid-column: 3;
    grid-row: 1;
}

.scoreSelector {
    grid-column: 4;
    grid-row: 1;
    text-align: center;
}

.submitBtn {
    grid-column: 3 / span 2;
    grid-row: 2;
    margin: 4em 8vw;
}

.mainSection {
    border: 0;
    margin: 0;
    padding: 0;
    float: left;
    text-align: unset;
    display: inline;
    width: 80vw;
    position: center;
}

.articleResumeLong img {
    background-color: grey;
    padding: 5vw;
    margin-right: 1em;
    float: left;
}

.articleResumeLong p {
    text-align: justify;
    font-size: 1.6em;
    margin: .5em 0 .5em .5em;
}

.articleResumeLong h2 {
    font-size: 2.5em;
    margin: 0;
}

.articleResumeLong {
    text-align: left;
    width: 80vw;
    padding: 2em;
    display: block;
    margin: 0;
    float: none;
}








